<title>My application</title>
<h1>Hello, World!</h1>
In the first form, enter a list of integers seperated by a newline character.
In the second form enter an integer.
In the third form enter another integer.
If the multiplication of two integers is found in the list, the result becomes true.
Result is {{result}}
<form action="compute" method="post">
<textarea name="input1" rows="10" cols="30"></textarea>
<textarea name="input2" rows="10" cols="30"></textarea>
<textarea name="input3" rows="10" cols="30"></textarea>
<br>
<input type="submit">
</form>